body {
    font-family: Fredoka One ; 
    background-color:#BAACBD;
    margin: 0;
    padding: 0;
    height: 150vh;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;   
    color: #ecd6e5;
    text-align: center;
}

img {
    transform: scale(0.87);
    width: 100%;
    border-radius: 10px 10px 0 0;
}

header {
    padding: 20px;
    text-align: center;
}

 /* General body styling */
body {
    font-family: 'Fredoka One', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    color: #333;
}

/* Header styling */
header {
    background-color: #d4b2c9;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center ;
    flex-direction: column;

}

h1 {
    font-size: 1.8rem;
    color:#d4b2c9 ;
    margin: 10px;
}



p {
    margin: 5px 0;
}

header {
    background-color: #d4b2c9;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

header #subheader {
    font-family: 'Fredoka One',sans-serif;
    color: #aa7b9b;
    font-size: 1.4rem;
    margin: 10px 0;
    text-align: center;
    display: block;
   
}


nav{
    margin-top: 10px;
}

#nav-ul{
    list-style-type: none;
    padding: 0;
    display:flex;
    justify-content:center ;
    gap: 30px; ;
}

#nav-ul > li {
    display: inline-block;
    margin-right: 20px;
}

#nav-ul> li > a{
    text-decoration: none;
    color:#ecd6e5;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main {
    display: flex;
    justify-content:center ;
    gap: 20 px;
    padding: 50px;
    flex-wrap: wrap;
}

#main-content, #second-content {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    padding: 20px;
    text-align: center;
}

figure{ 
    margin: 0;
}

figure img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    max-height: 200px;
    object-fit: cover;
}

.title-link {
    text-decoration:none ;
    color: #d4b2c9 ;
    display: block;
    margin: 20px 0;
    transition: color 0.3s;
}

.title-link {
    color: #af86a2;
}

.card-meta {
    margin-top: 10px;
}

.dish-link {
    display: inline-block;
    border: 2px solid #af86a2;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color:#af86a2 ;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.dish-link:hover{
    background-color: #af86a2;
    color: white;
}


.dish-type {
    font-size: 1.2rem;
    color: #af86a2;
}

.dish-stats{ 
    list-style: none;
    padding: 0%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.dish-stats li {
    font-size: 1rem;
    background-color: #ffefef;
    padding: 5px 10px;
    border-radius: 5px;
    color: #af86a2;
}

.description {
    font-size: 1rem;
    color: #aa7b9b;
    margin: 15px 0;
    line-height: 1.5;
}

.title-link {
    text-decoration: none;
    color: #af86a2;
    display: 20px 0;
    transition: color 0.3s;
}

.title-link:hover {
    color: #af86a2
}

body > footer {
    background-color: #d4b2c9;
    display: flex;
    color: white;
}
.desserts-heading {
    color: #af86a2;
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-align: center;
}

aside section {
    text-align: center;
}


.dessert-tag-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}


.dessert-tag {
    display: inline-block;
    border: 2px solid #af86a2;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #af86a2;
    font-size:1rem ;
    transition: background-color 0.3s,color 0.3s ;
}

.dessert-tag:hover {
    background-color: #af86a2;
    color: white;
}


#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
}


#footer-ul > div > li > a {
    text-decoration:none ;
    color:#ecd6e5;
}

#footer-logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    color: #ecd6e5;
}



@media (max-width: 768px) {
    main {
        flex-direction:column;
        align-items:center ;
    }

    #main-content, #second-content {
        max-width: 100%;
    }
}
   

